<IfModule mod_rewrite.c>
 	RewriteEngine on
	RewriteBase /praia_construtora/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /praia_construtora/index.php?/$1 [L] 
</IfModule>